#datepicker div div div {
    background-color: white;
    border-color: rgba(128, 128, 128, 0.307); /* 50% opacity */
    color: #475569;
}
#datepicker div div div div {
    color: #475569;
}
#datepicker div div div div div div button {
    color: #475569;
    border-radius: 10px;
}
#datepicker div div div div div div button:hover {
    color: #475569;
    background-color: #ede9fe;
    cursor: pointer;
}
#datepicker div div div div div div .bg-blue-500 {
    background-color: #a78bfa;
    color: white;
}
#datepicker div div div div div div .bg-blue-500:hover {
    background-color: #a78bfa;
    color: white;
}

.text-dot-animation span {
    opacity: 0;
    animation: dots 1.5s infinite;
}

.text-dot-animation span:nth-child(1) {
    animation-delay: 0s;
}

.text-dot-animation span:nth-child(2) {
    animation-delay: 0.5s;
}

.text-dot-animation span:nth-child(3) {
    animation-delay: 1s;
}

@keyframes dots {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}




