#datepicker div div div{
    background-color: white;
    border-color: rgba(128, 128, 128, 0.307); /* 50% opacity */
    color:#475569;
}
#datepicker div div div div{
    color:#475569;
}
#datepicker div div div div div div button{
    color:#475569;
    border-radius: 10px;
}
#datepicker div div div div div div button:hover{
    color:#475569;
    background-color: #ede9fe;
    cursor:pointer;
}
#datepicker div div div div div div .bg-blue-500{
    background-color: #a78bfa;
    color:white
}
#datepicker div div div div div div .bg-blue-500:hover{
    background-color: #a78bfa;
    color:white
}